:root {
	--button-height: 4rem;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

svg {
  width: 100%;
  height: 100%;
}

.page-grid {
  height: 100%;
  display: grid;
  grid-template-columns: calc(var(--button-height) + 10px) auto;
  grid-template-rows: 100%;
	overflow: hidden;
}

.panel.grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  border-right: 2px solid black;
}

[class^=button-] {
	width: var(--button-height);
	height: var(--button-height);
	margin: 2px 0;
  cursor: pointer;
  border: 2px solid black;
}

i {
  display: inline-block;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

body { background-color: #e3ded8; }
.panel.grid { background-color: #1477bb; }
[class^=button-] { background-color: #f6bc12; }
[class^=button-]:hover { background-color: #41bb9b; }

